[core]
    pager = diff-so-fancy | less --tabs=4 -RFX
[user]
  name = vao
  email = valer.orlovsky@centrica.com
  #signingkey = ...
[credential]
    helper = store
#[commit]
# gpgsign = true
#[gpg]
# program = gpg
#[merge]
# tool = nvim -d
# confictstyle = diff3
[pull]
	rebase = true

[includeIf "gitdir:~/repos/*/gitlab.neasenergy.com/"]
    path = ~/repos/local/dotfiles/.gitconfig_cet

[includeIf "gitdir:~/repos/*/github.com/"]
    path = ~/repos/local/dotfiles/.gitconfig_gh
