[core]
    pager = diff-so-fancy | less --tabs=4 -RFX
    autocrlf = input
[interactive]
    diffFilter=diff-so-fancy --patch
[user]
    useConfigOnly = true
[credential]
    helper = store


[difftool]
    prompt = true
[diff]
    tool = nvimdiff
[difftool "nvimdiff"]
    cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""
[difftool "codediff"]
    cmd = "code -d \"$LOCAL\" \"$REMOTE\""

[merge]
 tool = nvim -d
 confictstyle = diff3

[pull]
	rebase = true
[rebase]
    autoStash = true

[includeIf "gitdir:~/repos/*/gitlab.neasenergy.com/"]
    path = ~/repos/local/github.com/valorl/dotfiles/.gitconfig_cet
[includeIf "gitdir:~/repos/local/work.local/"]
    path = ~/repos/local/github.com/valorl/dotfiles/.gitconfig_cet

[includeIf "gitdir:~/repos/*/github.com/"]
    path = ~/repos/local/github.com/valorl/dotfiles/.gitconfig_gh
[includeIf "gitdir:~/go/src/github.com/"]
    path = ~/repos/local/github.com/valorl/dotfiles/.gitconfig_gh
[includeIf "gitdir:~/repos/local/personal.local/"]
    path = ~/repos/local/github.com/valorl/dotfiles/.gitconfig_gh
